@import "tailwindcss";

@utility container {  margin-inline: auto; }


/* ----------- variable */
@theme{

/* ---------- color  */
--color-primary: #FB2E86;
--color-main:#151875;
--color-main2:#8A8FB9;


  /* ---------- font */
  --font-lato:"Lato", sans-serif;

  --font-font2 : "Abyssinica SIL", serif;
}